In [34]:
import pandas as pd

In [35]:
exam_data = pd.read_csv('exams.csv')

In [36]:
exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,master's degree,standard,none,99,83,80
1,male,group D,bachelor's degree,standard,none,95,87,84
2,male,group B,bachelor's degree,free/reduced,none,41,49,38
3,male,group D,some college,free/reduced,none,50,44,38
4,male,group C,high school,standard,none,67,60,63
5,female,group C,some high school,standard,none,43,49,48
6,male,group A,high school,standard,none,85,80,75
7,female,group C,some college,standard,none,75,80,81
8,female,group D,high school,standard,none,74,82,77
9,male,group D,associate's degree,standard,completed,90,85,87
10,male,group E,some high school,standard,completed,96,85,83
11,female,group C,associate's degree,standard,none,69,88,79
12,male,group E,high school,standard,none,88,80,79
13,female,group D,bachelor's degree,standard,none,90,84,91
14,male,group D,associate's degree,standard,none,85,75,72
15,female,group B,some high school,standard,completed,59,73,72
16,female,group B,bachelor's degree,standard,none,62,75,75
17,male,group A,some college,standard,none,73,74,74
18,female,group C,some high school,standard,none,81,81,77
19,female,group C,some high school,free/reduced,completed,78,88,88
20,female,group C,associate's degree,free/reduced,none,71,79,83
21,female,group A,bachelor's degree,free/reduced,none,55,68,64
22,female,group C,associate's degree,standard,completed,82,93,94
23,female,group B,some high school,standard,none,76,83,79
24,female,group B,some college,standard,none,59,58,55
25,male,group B,high school,standard,none,85,77,73
26,male,group C,associate's degree,standard,completed,62,67,64
27,female,group D,some college,standard,none,77,77,82
28,female,group B,bachelor's degree,standard,none,79,88,86
29,female,group C,some college,free/reduced,completed,58,81,82
...,...,...,...,...,...,...,...,...
70,female,group C,some high school,standard,completed,49,47,52
71,male,group D,associate's degree,free/reduced,completed,52,59,54
72,female,group B,some college,free/reduced,none,33,43,40
73,female,group A,associate's degree,free/reduced,none,44,49,54
74,male,group D,high school,free/reduced,none,53,47,46
75,female,group B,some college,free/reduced,none,41,56,59
76,male,group A,some college,standard,none,44,33,28
77,female,group D,associate's degree,free/reduced,none,33,50,48
78,male,group E,some high school,standard,completed,72,68,64
79,female,group E,some high school,standard,none,90,80,82
80,female,group C,master's degree,standard,completed,64,79,75
81,male,group C,bachelor's degree,free/reduced,none,62,62,62
82,female,group D,some high school,free/reduced,none,30,48,51
83,female,group A,some college,free/reduced,completed,47,62,65
84,female,group D,some college,standard,completed,62,72,74
85,female,group B,associate's degree,standard,completed,76,83,84
86,male,group C,some college,standard,none,94,88,85
87,female,group D,associate's degree,standard,completed,68,74,82
88,male,group B,some high school,standard,none,49,48,44
89,female,group E,some college,standard,none,82,85,90
90,female,group D,associate's degree,standard,completed,71,78,81
91,female,group B,bachelor's degree,standard,completed,76,75,80
92,male,group D,some high school,standard,completed,88,87,84
93,female,group B,master's degree,standard,none,75,90,89
94,male,group D,associate's degree,standard,completed,66,63,72
95,female,group D,associate's degree,free/reduced,none,61,72,77
96,female,group B,some college,standard,completed,66,79,80
97,female,group D,associate's degree,standard,none,74,78,81
98,male,group D,some high school,standard,none,44,41,40
99,male,group B,some college,standard,none,65,63,62

In [37]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

print('Math Avg: ', math_average)
print('Read Avg: ', reading_average)
print('Write Avg: ', writing_average)

Math Avg:  66.59
Read Avg:  70.22
Write Avg:  69.18

In [38]:
from sklearn import preprocessing

exam_data[['math score']] = preprocessing.scale(exam_data[['math score']])
exam_data[['reading score']] = preprocessing.scale(exam_data[['reading score']])
exam_data[['writing score']] = preprocessing.scale(exam_data[['writing score']])

exam_data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,master's degree,standard,none,2.036385,0.906243,0.735650
1,male,group D,bachelor's degree,standard,none,1.785057,1.189887,1.007609
2,male,group B,bachelor's degree,free/reduced,none,-1.607870,-1.504731,-2.119923
3,male,group D,some college,free/reduced,none,-1.042383,-1.859286,-2.119923
4,male,group C,high school,standard,none,0.025761,-0.724710,-0.420177
5,female,group C,some high school,standard,none,-1.482207,-1.504731,-1.440025
6,male,group A,high school,standard,none,1.156737,0.693510,0.395701
7,female,group C,some college,standard,none,0.528417,0.693510,0.803640
8,female,group D,high school,standard,none,0.465585,0.835332,0.531681
9,male,group D,associate's degree,standard,completed,1.470897,1.048065,1.211579
10,male,group E,some high school,standard,completed,1.847889,1.048065,0.939620
11,female,group C,associate's degree,standard,none,0.151425,1.260798,0.667660
12,male,group E,high school,standard,none,1.345233,0.693510,0.667660
13,female,group D,bachelor's degree,standard,none,1.470897,0.977154,1.483538
14,male,group D,associate's degree,standard,none,1.156737,0.338955,0.191731
15,female,group B,some high school,standard,completed,-0.476895,0.197133,0.191731
16,female,group B,bachelor's degree,standard,none,-0.288399,0.338955,0.395701
17,male,group A,some college,standard,none,0.402753,0.268044,0.327711
18,female,group C,some high school,standard,none,0.905409,0.764421,0.531681
19,female,group C,some high school,free/reduced,completed,0.716913,1.260798,1.279569
20,female,group C,associate's degree,free/reduced,none,0.277089,0.622599,0.939620
21,female,group A,bachelor's degree,free/reduced,none,-0.728223,-0.157422,-0.352187
22,female,group C,associate's degree,standard,completed,0.968241,1.615353,1.687508
23,female,group B,some high school,standard,none,0.591249,0.906243,0.667660
24,female,group B,some college,standard,none,-0.476895,-0.866532,-0.964096
25,male,group B,high school,standard,none,1.156737,0.480777,0.259721
26,male,group C,associate's degree,standard,completed,-0.288399,-0.228333,-0.352187
27,female,group D,some college,standard,none,0.654081,0.480777,0.871630
28,female,group B,bachelor's degree,standard,none,0.779745,1.260798,1.143589
29,female,group C,some college,free/reduced,completed,-0.539727,0.764421,0.871630
...,...,...,...,...,...,...,...,...
70,female,group C,some high school,standard,completed,-1.105215,-1.646553,-1.168065
71,male,group D,associate's degree,free/reduced,completed,-0.916719,-0.795621,-1.032086
72,female,group B,some college,free/reduced,none,-2.110526,-1.930197,-1.983944
73,female,group A,associate's degree,free/reduced,none,-1.419375,-1.504731,-1.032086
74,male,group D,high school,free/reduced,none,-0.853887,-1.646553,-1.576005
75,female,group B,some college,free/reduced,none,-1.607870,-1.008354,-0.692137
76,male,group A,some college,standard,none,-1.419375,-2.639307,-2.799822
77,female,group D,associate's degree,free/reduced,none,-2.110526,-1.433820,-1.440025
78,male,group E,some high school,standard,completed,0.339921,-0.157422,-0.352187
79,female,group E,some high school,standard,none,1.470897,0.693510,0.871630
80,female,group C,master's degree,standard,completed,-0.162735,0.622599,0.395701
81,male,group C,bachelor's degree,free/reduced,none,-0.288399,-0.582888,-0.488167
82,female,group D,some high school,free/reduced,none,-2.299022,-1.575642,-1.236055
83,female,group A,some college,free/reduced,completed,-1.230879,-0.582888,-0.284198
84,female,group D,some college,standard,completed,-0.288399,0.126222,0.327711
85,female,group B,associate's degree,standard,completed,0.591249,0.906243,1.007609
86,male,group C,some college,standard,none,1.722225,1.260798,1.075599
87,female,group D,associate's degree,standard,completed,0.088593,0.268044,0.871630
88,male,group B,some high school,standard,none,-1.105215,-1.575642,-1.711984
89,female,group E,some college,standard,none,0.968241,1.048065,1.415549
90,female,group D,associate's degree,standard,completed,0.277089,0.551688,0.803640
91,female,group B,bachelor's degree,standard,completed,0.591249,0.338955,0.735650
92,male,group D,some high school,standard,completed,1.345233,1.189887,1.007609
93,female,group B,master's degree,standard,none,0.528417,1.402620,1.347559
94,male,group D,associate's degree,standard,completed,-0.037071,-0.511977,0.191731
95,female,group D,associate's degree,free/reduced,none,-0.351231,0.126222,0.531681
96,female,group B,some college,standard,completed,-0.037071,0.622599,0.735650
97,female,group D,associate's degree,standard,none,0.465585,0.551688,0.803640
98,male,group D,some high school,standard,none,-1.419375,-2.072019,-1.983944
99,male,group B,some college,standard,none,-0.099903,-0.511977,-0.488167

In [39]:
math_average = exam_data['math score'].mean()
reading_average = exam_data['reading score'].mean()
writing_average = exam_data['writing score'].mean()

print('Math Avg: ', math_average)
print('Read Avg: ', reading_average)
print('Write Avg: ', writing_average)

Math Avg:  -1.7832957333041576e-16
Read Avg:  1.4210854715202004e-16
Write Avg:  -4.0967229608668276e-16

In [40]:
le = preprocessing.LabelEncoder()
exam_data['gender'] = le.fit_transform(exam_data['gender'])

In [41]:
exam_data.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,group A,master's degree,standard,none,2.036385,0.906243,0.735650
1,1,group D,bachelor's degree,standard,none,1.785057,1.189887,1.007609
2,1,group B,bachelor's degree,free/reduced,none,-1.607870,-1.504731,-2.119923
3,1,group D,some college,free/reduced,none,-1.042383,-1.859286,-2.119923
4,1,group C,high school,standard,none,0.025761,-0.724710,-0.420177
5,0,group C,some high school,standard,none,-1.482207,-1.504731,-1.440025
6,1,group A,high school,standard,none,1.156737,0.693510,0.395701
7,0,group C,some college,standard,none,0.528417,0.693510,0.803640
8,0,group D,high school,standard,none,0.465585,0.835332,0.531681
9,1,group D,associate's degree,standard,completed,1.470897,1.048065,1.211579

In [42]:
le.classes_

array(['female', 'male'], dtype=object)

In [43]:
pd.get_dummies(exam_data['race/ethnicity'])

    group A  group B  group C  group D  group E
0         1        0        0        0        0
1         0        0        0        1        0
2         0        1        0        0        0
3         0        0        0        1        0
4         0        0        1        0        0
5         0        0        1        0        0
6         1        0        0        0        0
7         0        0        1        0        0
8         0        0        0        1        0
9         0        0        0        1        0
10        0        0        0        0        1
11        0        0        1        0        0
12        0        0        0        0        1
13        0        0        0        1        0
14        0        0        0        1        0
15        0        1        0        0        0
16        0        1        0        0        0
17        1        0        0        0        0
18        0        0        1        0        0
19        0        0        1        0        0
20        0        0        1        0        0
21        1        0        0        0        0
22        0        0        1        0        0
23        0        1        0        0        0
24        0        1        0        0        0
25        0        1        0        0        0
26        0        0        1        0        0
27        0        0        0        1        0
28        0        1        0        0        0
29        0        0        1        0        0
..      ...      ...      ...      ...      ...
70        0        0        1        0        0
71        0        0        0        1        0
72        0        1        0        0        0
73        1        0        0        0        0
74        0        0        0        1        0
75        0        1        0        0        0
76        1        0        0        0        0
77        0        0        0        1        0
78        0        0        0        0        1
79        0        0        0        0        1
80        0        0        1        0        0
81        0        0        1        0        0
82        0        0        0        1        0
83        1        0        0        0        0
84        0        0        0        1        0
85        0        1        0        0        0
86        0        0        1        0        0
87        0        0        0        1        0
88        0        1        0        0        0
89        0        0        0        0        1
90        0        0        0        1        0
91        0        1        0        0        0
92        0        0        0        1        0
93        0        1        0        0        0
94        0        0        0        1        0
95        0        0        0        1        0
96        0        1        0        0        0
97        0        0        0        1        0
98        0        0        0        1        0
99        0        1        0        0        0

[100 rows x 5 columns]

In [44]:
exam_data = pd.get_dummies(exam_data, columns=['race/ethnicity'])

In [45]:
exam_data

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E
0,1,master's degree,standard,none,2.036385,0.906243,0.735650,1,0,0,0,0
1,1,bachelor's degree,standard,none,1.785057,1.189887,1.007609,0,0,0,1,0
2,1,bachelor's degree,free/reduced,none,-1.607870,-1.504731,-2.119923,0,1,0,0,0
3,1,some college,free/reduced,none,-1.042383,-1.859286,-2.119923,0,0,0,1,0
4,1,high school,standard,none,0.025761,-0.724710,-0.420177,0,0,1,0,0
5,0,some high school,standard,none,-1.482207,-1.504731,-1.440025,0,0,1,0,0
6,1,high school,standard,none,1.156737,0.693510,0.395701,1,0,0,0,0
7,0,some college,standard,none,0.528417,0.693510,0.803640,0,0,1,0,0
8,0,high school,standard,none,0.465585,0.835332,0.531681,0,0,0,1,0
9,1,associate's degree,standard,completed,1.470897,1.048065,1.211579,0,0,0,1,0
10,1,some high school,standard,completed,1.847889,1.048065,0.939620,0,0,0,0,1
11,0,associate's degree,standard,none,0.151425,1.260798,0.667660,0,0,1,0,0
12,1,high school,standard,none,1.345233,0.693510,0.667660,0,0,0,0,1
13,0,bachelor's degree,standard,none,1.470897,0.977154,1.483538,0,0,0,1,0
14,1,associate's degree,standard,none,1.156737,0.338955,0.191731,0,0,0,1,0
15,0,some high school,standard,completed,-0.476895,0.197133,0.191731,0,1,0,0,0
16,0,bachelor's degree,standard,none,-0.288399,0.338955,0.395701,0,1,0,0,0
17,1,some college,standard,none,0.402753,0.268044,0.327711,1,0,0,0,0
18,0,some high school,standard,none,0.905409,0.764421,0.531681,0,0,1,0,0
19,0,some high school,free/reduced,completed,0.716913,1.260798,1.279569,0,0,1,0,0
20,0,associate's degree,free/reduced,none,0.277089,0.622599,0.939620,0,0,1,0,0
21,0,bachelor's degree,free/reduced,none,-0.728223,-0.157422,-0.352187,1,0,0,0,0
22,0,associate's degree,standard,completed,0.968241,1.615353,1.687508,0,0,1,0,0
23,0,some high school,standard,none,0.591249,0.906243,0.667660,0,1,0,0,0
24,0,some college,standard,none,-0.476895,-0.866532,-0.964096,0,1,0,0,0
25,1,high school,standard,none,1.156737,0.480777,0.259721,0,1,0,0,0
26,1,associate's degree,standard,completed,-0.288399,-0.228333,-0.352187,0,0,1,0,0
27,0,some college,standard,none,0.654081,0.480777,0.871630,0,0,0,1,0
28,0,bachelor's degree,standard,none,0.779745,1.260798,1.143589,0,1,0,0,0
29,0,some college,free/reduced,completed,-0.539727,0.764421,0.871630,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,some high school,standard,completed,-1.105215,-1.646553,-1.168065,0,0,1,0,0
71,1,associate's degree,free/reduced,completed,-0.916719,-0.795621,-1.032086,0,0,0,1,0
72,0,some college,free/reduced,none,-2.110526,-1.930197,-1.983944,0,1,0,0,0
73,0,associate's degree,free/reduced,none,-1.419375,-1.504731,-1.032086,1,0,0,0,0
74,1,high school,free/reduced,none,-0.853887,-1.646553,-1.576005,0,0,0,1,0
75,0,some college,free/reduced,none,-1.607870,-1.008354,-0.692137,0,1,0,0,0
76,1,some college,standard,none,-1.419375,-2.639307,-2.799822,1,0,0,0,0
77,0,associate's degree,free/reduced,none,-2.110526,-1.433820,-1.440025,0,0,0,1,0
78,1,some high school,standard,completed,0.339921,-0.157422,-0.352187,0,0,0,0,1
79,0,some high school,standard,none,1.470897,0.693510,0.871630,0,0,0,0,1
80,0,master's degree,standard,completed,-0.162735,0.622599,0.395701,0,0,1,0,0
81,1,bachelor's degree,free/reduced,none,-0.288399,-0.582888,-0.488167,0,0,1,0,0
82,0,some high school,free/reduced,none,-2.299022,-1.575642,-1.236055,0,0,0,1,0
83,0,some college,free/reduced,completed,-1.230879,-0.582888,-0.284198,1,0,0,0,0
84,0,some college,standard,completed,-0.288399,0.126222,0.327711,0,0,0,1,0
85,0,associate's degree,standard,completed,0.591249,0.906243,1.007609,0,1,0,0,0
86,1,some college,standard,none,1.722225,1.260798,1.075599,0,0,1,0,0
87,0,associate's degree,standard,completed,0.088593,0.268044,0.871630,0,0,0,1,0
88,1,some high school,standard,none,-1.105215,-1.575642,-1.711984,0,1,0,0,0
89,0,some college,standard,none,0.968241,1.048065,1.415549,0,0,0,0,1
90,0,associate's degree,standard,completed,0.277089,0.551688,0.803640,0,0,0,1,0
91,0,bachelor's degree,standard,completed,0.591249,0.338955,0.735650,0,1,0,0,0
92,1,some high school,standard,completed,1.345233,1.189887,1.007609,0,0,0,1,0
93,0,master's degree,standard,none,0.528417,1.402620,1.347559,0,1,0,0,0
94,1,associate's degree,standard,completed,-0.037071,-0.511977,0.191731,0,0,0,1,0
95,0,associate's degree,free/reduced,none,-0.351231,0.126222,0.531681,0,0,0,1,0
96,0,some college,standard,completed,-0.037071,0.622599,0.735650,0,1,0,0,0
97,0,associate's degree,standard,none,0.465585,0.551688,0.803640,0,0,0,1,0
98,1,some high school,standard,none,-1.419375,-2.072019,-1.983944,0,0,0,1,0
99,1,some college,standard,none,-0.099903,-0.511977,-0.488167,0,1,0,0,0

In [46]:
exam_data = pd.get_dummies(exam_data, columns=['parental level of education', 'lunch', 'test preparation course'])

In [47]:
exam_data

,gender,math score,reading score,writing score,race/ethnicity_group A,race/ethnicity_group B,race/ethnicity_group C,race/ethnicity_group D,race/ethnicity_group E,parental level of education_associate's degree,parental level of education_bachelor's degree,parental level of education_high school,parental level of education_master's degree,parental level of education_some college,parental level of education_some high school,lunch_free/reduced,lunch_standard,test preparation course_completed,test preparation course_none
0,1,2.036385,0.906243,0.735650,1,0,0,0,0,0,0,0,1,0,0,0,1,0,1
1,1,1.785057,1.189887,1.007609,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1
2,1,-1.607870,-1.504731,-2.119923,0,1,0,0,0,0,1,0,0,0,0,1,0,0,1
3,1,-1.042383,-1.859286,-2.119923,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1
4,1,0.025761,-0.724710,-0.420177,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1
5,0,-1.482207,-1.504731,-1.440025,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1
6,1,1.156737,0.693510,0.395701,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1
7,0,0.528417,0.693510,0.803640,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1
8,0,0.465585,0.835332,0.531681,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1
9,1,1.470897,1.048065,1.211579,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0
10,1,1.847889,1.048065,0.939620,0,0,0,0,1,0,0,0,0,0,1,0,1,1,0
11,0,0.151425,1.260798,0.667660,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1
12,1,1.345233,0.693510,0.667660,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1
13,0,1.470897,0.977154,1.483538,0,0,0,1,0,0,1,0,0,0,0,0,1,0,1
14,1,1.156737,0.338955,0.191731,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
15,0,-0.476895,0.197133,0.191731,0,1,0,0,0,0,0,0,0,0,1,0,1,1,0
16,0,-0.288399,0.338955,0.395701,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
17,1,0.402753,0.268044,0.327711,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1
18,0,0.905409,0.764421,0.531681,0,0,1,0,0,0,0,0,0,0,1,0,1,0,1
19,0,0.716913,1.260798,1.279569,0,0,1,0,0,0,0,0,0,0,1,1,0,1,0
20,0,0.277089,0.622599,0.939620,0,0,1,0,0,1,0,0,0,0,0,1,0,0,1
21,0,-0.728223,-0.157422,-0.352187,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1
22,0,0.968241,1.615353,1.687508,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0
23,0,0.591249,0.906243,0.667660,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1
24,0,-0.476895,-0.866532,-0.964096,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1
25,1,1.156737,0.480777,0.259721,0,1,0,0,0,0,0,1,0,0,0,0,1,0,1
26,1,-0.288399,-0.228333,-0.352187,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0
27,0,0.654081,0.480777,0.871630,0,0,0,1,0,0,0,0,0,1,0,0,1,0,1
28,0,0.779745,1.260798,1.143589,0,1,0,0,0,0,1,0,0,0,0,0,1,0,1
29,0,-0.539727,0.764421,0.871630,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,-1.105215,-1.646553,-1.168065,0,0,1,0,0,0,0,0,0,0,1,0,1,1,0
71,1,-0.916719,-0.795621,-1.032086,0,0,0,1,0,1,0,0,0,0,0,1,0,1,0
72,0,-2.110526,-1.930197,-1.983944,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1
73,0,-1.419375,-1.504731,-1.032086,1,0,0,0,0,1,0,0,0,0,0,1,0,0,1
74,1,-0.853887,-1.646553,-1.576005,0,0,0,1,0,0,0,1,0,0,0,1,0,0,1
75,0,-1.607870,-1.008354,-0.692137,0,1,0,0,0,0,0,0,0,1,0,1,0,0,1
76,1,-1.419375,-2.639307,-2.799822,1,0,0,0,0,0,0,0,0,1,0,0,1,0,1
77,0,-2.110526,-1.433820,-1.440025,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1
78,1,0.339921,-0.157422,-0.352187,0,0,0,0,1,0,0,0,0,0,1,0,1,1,0
79,0,1.470897,0.693510,0.871630,0,0,0,0,1,0,0,0,0,0,1,0,1,0,1
80,0,-0.162735,0.622599,0.395701,0,0,1,0,0,0,0,0,1,0,0,0,1,1,0
81,1,-0.288399,-0.582888,-0.488167,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1
82,0,-2.299022,-1.575642,-1.236055,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1
83,0,-1.230879,-0.582888,-0.284198,1,0,0,0,0,0,0,0,0,1,0,1,0,1,0
84,0,-0.288399,0.126222,0.327711,0,0,0,1,0,0,0,0,0,1,0,0,1,1,0
85,0,0.591249,0.906243,1.007609,0,1,0,0,0,1,0,0,0,0,0,0,1,1,0
86,1,1.722225,1.260798,1.075599,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1
87,0,0.088593,0.268044,0.871630,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0
88,1,-1.105215,-1.575642,-1.711984,0,1,0,0,0,0,0,0,0,0,1,0,1,0,1
89,0,0.968241,1.048065,1.415549,0,0,0,0,1,0,0,0,0,1,0,0,1,0,1
90,0,0.277089,0.551688,0.803640,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0
91,0,0.591249,0.338955,0.735650,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0
92,1,1.345233,1.189887,1.007609,0,0,0,1,0,0,0,0,0,0,1,0,1,1,0
93,0,0.528417,1.402620,1.347559,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
94,1,-0.037071,-0.511977,0.191731,0,0,0,1,0,1,0,0,0,0,0,0,1,1,0
95,0,-0.351231,0.126222,0.531681,0,0,0,1,0,1,0,0,0,0,0,1,0,0,1
96,0,-0.037071,0.622599,0.735650,0,1,0,0,0,0,0,0,0,1,0,0,1,1,0
97,0,0.465585,0.551688,0.803640,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
98,1,-1.419375,-2.072019,-1.983944,0,0,0,1,0,0,0,0,0,0,1,0,1,0,1
99,1,-0.099903,-0.511977,-0.488167,0,1,0,0,0,0,0,0,0,1,0,0,1,0,1

## Frequency count

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = ['This is the first document.',
          'This is the second document.',
          'Third document.Document number three.',
          'Number four. To repeat, number four'
         ]

In [50]:
vectorizer = CountVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)
bag_of_words

<4x12 sparse matrix of type '<class 'numpy.int64'>'
	with 18 stored elements in Compressed Sparse Row format>

In [51]:
print(bag_of_words)

  (0, 0)	1
  (0, 1)	1
  (0, 7)	1
  (0, 3)	1
  (0, 9)	1
  (1, 6)	1
  (1, 0)	1
  (1, 7)	1
  (1, 3)	1
  (1, 9)	1
  (2, 10)	1
  (2, 4)	1
  (2, 8)	1
  (2, 0)	2
  (3, 5)	1
  (3, 11)	1
  (3, 2)	2
  (3, 4)	2

In [54]:
vectorizer.vocabulary_.get('the')

7

In [55]:
vectorizer.vocabulary_

{'document': 0,
 'first': 1,
 'four': 2,
 'is': 3,
 'number': 4,
 'repeat': 5,
 'second': 6,
 'the': 7,
 'third': 8,
 'this': 9,
 'three': 10,
 'to': 11}

In [59]:
import pandas as pd
print(pd.__version__)

0.22.0

In [62]:
bag_array = bag_of_words.toarray()
bag_array

array([[1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0],
       [1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0],
       [2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0],
       [0, 0, 2, 0, 2, 1, 0, 0, 0, 0, 0, 1]], dtype=int64)

In [68]:
words_array = vectorizer.get_feature_names()
words_array

['document',
 'first',
 'four',
 'is',
 'number',
 'repeat',
 'second',
 'the',
 'third',
 'this',
 'three',
 'to']

In [72]:
pd.DataFrame(bag_array, columns=words_array)

,document,first,four,is,number,repeat,second,the,third,this,three,to
0,1,1,0,1,0,0,0,1,0,1,0,0
1,1,0,0,1,0,0,1,1,0,1,0,0
2,2,0,0,0,1,0,0,0,1,0,1,0
3,0,0,2,0,2,1,0,0,0,0,0,1